.Play_content {
    height: 100%;
}

.Play_content h1 {
    padding: 2em;
    font-size: 3em;
    text-align: center;
}

.Play_content .answers {
    text-align: center;
    margin-left: auto;
    margin-top: auto;
}

.answers a {
    font-size: 2em;
}

.index-text {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
body {
    height: 100vh;
    background-color: #e0e0e0;
}