.Play_content {
    height: 100%;
}

.Play_content h1 {
    padding: 2em;
    font-size: 3em;
    text-align: center;
}

.Play_content .answers {
    text-align: center;
    margin-left: auto;
    margin-top: auto;
}

.answers a {
    font-size: 2em;
}

.index-text {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.sidebar {
    height: 100vh;
    background-color: #fff;
    text-align: center;
}

.sidebar ul {
    padding: 0.5em;
}

.sidebar li {
    display: block;
    margin-top: 0.2em;
    text-decoration: none;
    padding-left: 0.4em;
}

.sidebar li > a {
    display: block;
}

.sidebar ul > li {
    color: white;
    font-size: 1.3em;
    transition: transform .3s ease;
}

.sidebar li:hover {
    color: #a268a1;
    transform: scale(1.05);
}

body {
    height: 100vh;
    background-color: #e0e0e0;
}