{% extends 'engcards/main.html' %}
{% block title %}Play{% endblock %}
{% block content %}
    <div class="Play_content">
        <h2 class="counter">Wins:{{counter}}</h2>
        <h1 id="Word">{{ WordRandom }}</h1>
        <hr>
        <form method="POST">
            {% csrf_token %}
{#            {{ form.Answers }}<br>#}
            <div class="row">
            {% for answer in answers %}
                <button type="submit" class="col btn btn-outline-success" name=answer value="{{ WordRandom }},{{ answer }},{{counter}}">{{ answer }}</button>
            {%endfor%}
                </div>
            <span>{{ error }}</span>
            <h1 style="color: brown">{{ ERROR }}</h1>
        </form>
    </div>
{% endblock %}